body{
/*    background-color: #EDF2F3;
*/    overflow-x: hidden;
    height: 100vh;
}

 principal container for all display

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
	margin: 0 50rem 0 50rem;;    
}